.steps {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 1rem;
  .step {
    display: block;
    height: 5px;
    border-radius: 8px;
    width: calc((100%) / 7);
    background-color: #eeeeee;
    &.active {
      background-color: var(--main);
    }
  }
}
.ads {
  display: flex;
  height: 100vh;
  .form-wrapper {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-grow: 1;
    .ads-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .ads-title {
        display: flex;
        align-items: center;
        gap: 1rem;

        button {
          width: 40px;
          height: 40px;
          padding: 6px;
          border-radius: 50%;
          background-color: #eeeeee;
          transition: var(--main-transition);
          &:hover {
            background-color: var(--main);
            color: var(--white);
          }
        }
      }
    }
  }
  .banner-wrapper {
    position: relative;
    width: 40%;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
