.auth-step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  h4 {
    font-size: 24px;
    margin-bottom: 0;
    text-align: center;
  }

  p {
    font-size: 14px;
    color: var(--gray);
    text-align: center;
    span {
      color: var(--main);
    }
  }

  .form {
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    button {
      width: 100%;
    }
    .image-uplaod {
      @include centerFlex;
      width: 125px;
      height: 125px;
      border-radius: 50%;
      position: relative;
      padding: 10px;
      border: 1px solid var(--border);
      cursor: pointer;
      input {
        display: none;
      }
      img {
        max-width: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
      i {
        position: absolute;
        bottom: -4px;
        right: 16px;
        width: 20px;
        height: 20px;
        font-size: 13px;
        border-radius: 50%;
        @include centerFlex;
        background-color: var(--main);
        color: var(--white);
      }
    }
  }
}

.back-button {
  width: fit-content !important;
  height: 100%;
  padding: 0 24px;
  border: 1px solid var(--black);
  color: var(--black);
  border-radius: 12px;
}

.auth_img {
  object-position: center;
  object-fit: contain;
  height: 200px;
  margin-bottom: 24px;
}
