.properties {
  background: #dff5f1;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  gap: 8px;
  padding: 8px;
  .image_card {
    background-color: transparent;
    position: relative;
    max-width: 140px;
    img {
      width: 100%;
      object-fit: cover;
      aspect-ratio: 1/1;
      border-radius: 8px;
    }
    button {
      @include clearInput;
      background-color: transparent;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-50%, 50%);
      width: 20px;
      height: 20px;
      i {
        font-size: 20px;
        color: var(--main);
      }
    }
  }
  h2 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: var(--main);
  }
  .card_info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .info {
      display: flex;
      flex-direction: column;
      gap: 8px;
      .flat-details {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;
        color: var(--dark);
      }
      p {
        font-size: 14px;
        color: var(--dark);
        margin: 0;
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }
}
