.properties {
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  height: 100%;
  gap: 16px;
  padding: 12px;
  position: relative;
  &.bg_gray {
    background: var(--input-bg);
  }

  h2 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: var(--main);
    flex-grow: 1;
  }
  .card-link {
    display: flex;
    gap: 12px;
    width: 100%;

    .image_card {
      background-color: transparent;
      position: relative;
      max-width: 140px;
      width: 140px;
      img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1/1;
        border-radius: 8px;
      }
    }
    .card_info {
      display: flex;
      flex-direction: column;
      gap: 8px;
      flex: 1;
      .info {
        display: flex;
        flex-direction: column;
        gap: 12px;
        .flat-details {
          display: flex;
          align-items: center;
          gap: 8px;
          font-size: 14px;
          color: var(--dark);
          span {
            display: flex;
            gap: 2px;
          }
        }
        p {
          font-size: 14px;
          color: var(--dark);
          margin: 0;
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }
    }
  }
}

.fav-btn {
  @include clearInput;
  background-color: transparent;
  width: 20px;
  height: 20px;
  cursor: pointer;
  i {
    font-size: 20px;
    color: #ff0000;
  }
}

.guest-rates-card {
  padding: 1rem;
  border: 1px solid var(--border);
  border-radius: 8px;
  height: 100%;
  .guest-info {
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-size: 14px;
    h4 {
      font-weight: 600;
      margin: 0;
      font-size: 16px;
    }
    p {
      margin: 0;
    }
    .comment {
      color: var(--gray);
      margin: 0;
      font-size: 16px;
    }
    .guest-data {
      display: flex;
      align-items: center;
      gap: 8px;
      .user-image-wrapper {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 8px;
        border: 1px solid var(--input-stroke);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.card {
  border-radius: 12px;
  .card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card-body {
    padding: 1rem;
    .card-title {
      font-size: 20px;
      margin-bottom: 8px;
    }
    .card-text {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 500;
      color: var(--main);
      margin-bottom: 8px;
    }
    .text-muted {
      color: var(--black);
      font-size: 14px;
      margin-bottom: 8px;
    }
  }
  .booding-card-footer {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 1rem;
    margin-top: 8px;
    font-size: 14px;

    a {
      transition: var(--main-transition);
      margin: 0;
      &:hover {
        color: var(--main);
      }
    }
  }
}

.blog-card-items {
  border-radius: 10px;
  border: 1px solid rgba(21, 20, 21, 0.12);
  background: var(--white);
  height: 100%;
  .blog-image {
    position: relative;
    padding: 15px;
    padding-bottom: 0;
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
    .post {
      border-radius: 22.5px;
      background: var(--white);
      padding: 10px 22px;
      line-height: 1;
      box-shadow: -3px 2px 12.7px 7px rgba(6, 27, 48, 0.04);
      display: flex;
      align-items: center;
      gap: 10px;
      position: absolute;
      left: 30px;
      bottom: -15px;
      li:not(:last-child) {
        border-right: 1px solid rgba(21, 20, 21, 0.19);
        padding-right: 10px;
        display: flex;
        align-items: center;
        gap: 5px;
        &.ar {
          border-right: none;
          padding-left: 10px;
          border-left: 1px solid rgba(21, 20, 21, 0.19);
        }
      }
    }
  }
  .blog-content {
    padding: 25px;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    h3 {
      margin: 0;
      font-weight: 600;
      font-size: 20px;
    }
    p {
      margin: 0;
      color: var(--text-light);
    }
  }
}
