.contact {
  .contact-section {
    padding: 120px 0;
    .contact-info-content {
      h2 {
        font-size: 48px;
        font-weight: 700;
        color: var(--text);
        margin-bottom: 20px;
      }
      p {
        font-size: 16px;
        color: var(--text-light);
        margin-bottom: 20px;
        line-height: 30px;
      }
      .contact-items {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        li {
          display: flex;
          align-items: center;
          gap: 1rem;
          i {
            @include centerFlex;
            width: 68px;
            height: 68px;
            line-height: 1.5;
            text-align: center;
            border-radius: 4px;
            background-color: #efeefa;
            color: var(--main);
            font-size: 22px;
          }
          p {
            margin: 0;
            span {
              display: block;
              &:first-child {
                margin-bottom: 8px;
                color: var(--main);
                font-weight: 500;
              }
              &:last-child {
                font-size: 22px;
                font-weight: 600;
                line-height: 1.5;
                color: var(--text);
              }
            }
          }
        }
      }
    }
    .contact-content {
      background-color: #efeefa;
      border-radius: 10px;
      padding: 35px;
      h2 {
        font-size: 32px;
        margin-bottom: 10px;
        font-weight: 600;
        line-height: 1.5;
      }
      p {
        margin: 0;
        font-size: 16px;
        color: var(--text-light);
        line-height: 2;
      }
    }
  }
}
