@font-face {
  font-family: "DIN Next LT W23";
  src: url("../webfonts/DINNextLTW23-ultra-light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "DIN Next LT W23";
  src: url("../webfonts/din-next-lt-w23-light.ttf.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DIN Next LT W23";
  src: url("../webfonts/din-next-lt-w23-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DIN Next LT W23";
  src: url("../webfonts/din-next-lt-w23-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DIN Next LT W23";
  src: url("../webfonts/din-next-lt-w23-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DIN Next LT W23";
  src: url("../webfonts/din-next-lt-w23-heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "DIN Next LT W23";
  src: url("../webfonts/din-next-lt-w23-black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
