.map_section_view {
  width: 100%;
  height: 100vh;
  position: relative;

  .control-btn {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .control-btn:hover {
    background-color: #f0f0f0;
  }

  .map {
    height: 100%;
    .unit_card {
      width: 300px;
    }
  }
}

.view_map {
  left: 50%;
  bottom: 32px;
  position: fixed;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 6px;
  padding-inline-end: 18px;
  border-radius: 90px;
  background: var(--main);
  color: var(--white);
  font-size: 16px;
  z-index: 999;
  .icon {
    background: var(--white);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    @include centerFlex();
    img {
      height: 16px;
    }
  }
}

.map-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.for-rent-details {
  margin: 3rem 0;
  h4 {
    margin-bottom: 1rem;
    font-weight: 600;
    color: var(--main);
    font-size: 18px;
  }
  .gallary {
    width: 100%;
    border-radius: 12px;
    img {
      border-radius: 12px;
      width: 100%;
      aspect-ratio: 3 / 2;
      object-fit: cover;
    }
    .carousel-indicators {
      button {
        background-color: var(--white);
        height: 4px;
        width: 32px;
        border-radius: 8px;
        overflow: hidden;
      }
    }
  }

  .user {
    display: flex;
    margin-bottom: 16px;
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--border);
    border-radius: 12px;
    gap: 12px;
    flex-direction: column;
    justify-content: space-between;
    .info {
      display: flex;
      gap: 12px;
      align-items: center;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
    button {
      background-color: var(--main);
      color: var(--white);
      @include centerFlex;
      gap: 7px;
      border: none;
      padding: 10px 20px;
      border-radius: 8px;
      cursor: pointer;
    }
  }

  .description {
    margin-top: 1.5rem;
    p {
      font-size: 16px;
      line-height: 1.5;
      color: var(--black);
    }
  }

  .prop-features {
    padding: 24px 0;
    border-top: 1px dashed var(--border);
    border-bottom: 1px dashed var(--border);
    .features-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 8px;
      border-bottom: none;
      li {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 8px;
        font-size: 16px;
        color: var(--black);
        img {
          width: 16px;
          height: 16px;
          background-color: #b6e1c8;
          border-radius: 5px;
        }
      }
    }
  }

  .prop-data {
    padding: 1rem;
    border-radius: 12px;
    border: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    gap: 12px;
    h3 {
      font-size: 18px;
      color: var(--main);
      margin-bottom: 12px;
    }
    .prop-data-header {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid var(--border);
      padding-bottom: 12px;
      .prop-data-header-info {
        p {
          font-size: 14px;
          margin-bottom: 6px;
          color: var(--gray);
          p:first-of-type {
            color: var(--main);
          }
        }
      }
    }
    .your-trip {
      padding: 1rem 0;
      border-bottom: 1px solid var(--border);
      .date,
      .guest {
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-size: 14px;
        span {
          font-weight: 500;
          margin: 8px 0;
          &:last-child {
            color: var(--main);
          }
        }
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 1rem 0;
      border-bottom: 1px solid var(--border);
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        span:first-child {
          display: flex;
          align-items: center;
          gap: 6px;
        }
        span:last-child {
          color: var(--main);
        }
      }
    }
    .rent-payment {
      padding: 1rem 0;
      border-bottom: 1px solid var(--border);
      p {
        margin-bottom: 0;
        span {
          color: var(--main);
        }
      }
    }
    .price {
      padding: 1rem 0;
      display: flex;
      flex-direction: column;
      gap: 8px;
      border-bottom: 1px solid var(--border);
      p {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 0;
      }
      div {
        display: flex;
        justify-content: space-between;
      }
    }
    a {
      margin-top: 8px;
      display: flex;
      align-items: center;
      gap: 12px;
      justify-content: center;
      padding: 1rem 1.5rem;
      width: 100%;
      border-radius: 8px;
      color: var(--white);
      background-color: var(--main);
      font-size: 16px;
      transition: var(--main-transition);
      &:hover {
        background-color: var(--main-hover);
      }
    }
  }
  .map-container {
    margin-top: 4rem;
    .map_section_view {
      height: auto;
      .map {
        width: 100%;
        margin-top: 1rem;
        height: 400px;
        border-radius: 16px;
        overflow: hidden;
      }
    }

    p {
      margin-top: 16px;
      font-size: 14px;
      color: var(--gray);
    }
  }
  .rates {
    margin-top: 4rem;
    .swiper-wrapper {
      padding: 8px 0;
    }
  }
}
.details-header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  .title-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    button {
      @include centerFlex();
      width: 35px;
      height: 35px;
      background-color: var(--input-bg);
      border-radius: 50%;
      transition: var(--ma);
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}
.gm-style-iw-chr {
  padding: 0 !important;
  .gm-style-iw-ch {
    padding: 0 !important;
    display: none !important;
  }
  button {
    width: 28px !important;
    height: 28px !important;
    opacity: 1 !important;
    position: absolute !important;
    border-radius: 50% !important;
    top: 12px !important;
    right: 12px !important;
    z-index: 999 !important;
    background: #fff !important;
    span {
      width: 18px !important;
      height: 18px !important;
      margin: 5px !important;
    }
  }
}

.gm-style .gm-style-iw-c {
  padding: 0 !important;
  border-radius: 16px !important;
}
.gm-style-iw-d {
  overflow: hidden !important;
}

.custom-marker {
  cursor: pointer;
  text-align: center;
  z-index: 11111;
}

.marker-price {
  background-color: #fff;
  color: #000;
  border-radius: 30px;
  padding: 8px;
  font-size: 12px;
  gap: 4px;
  display: flex;
  position: relative;
  align-items: center;
  white-space: nowrap;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.204);
}

.details-card {
  border-radius: 12px;
  margin: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .detail-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;

    .icon {
      width: 18px;
      height: 18px;
      margin-left: 8px;
      object-fit: contain;
    }
  }
}
