.form-field {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  gap: 8px;
  flex-wrap: wrap !important;
  label {
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 4px;
    svg,
    i {
      stroke: var(--main);
      width: 16px;
      height: 16px;
    }
    img {
      height: 18px;
    }
    span {
      font-size: 12px;
      color: var(--input-hint);
      width: 100%;
      margin-inline-start: 8px;
    }
  }
  input,
  textarea,
  select {
    color: var(--main);
    direction: rtl;
    height: 52px;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 12px;
    border-radius: 12px;
    border: 1px solid var(--border);
    font-size: 14px;
    box-shadow: none !important;
    background-image: none !important;

    &::placeholder {
      font-size: 14px;
      color: var(--input-hint);
    }
    &:focus {
      color: var(--main);
      border-color: var(--input-stroke);
    }
  }
  textarea {
    height: 140px;
    padding: 16px 12px;
  }
  .input-span {
    position: absolute;
    color: var(--main);
    left: 12px;
    top: 46px;
  }
  .phone-group {
    .PhoneInput {
      display: flex;
      gap: 12px;
      .PhoneInputCountryIcon {
        position: relative;
      }
      .PhoneInputCountryIconImg {
        width: 20px;
        position: absolute;
        top: -33px;
        left: 10px;
      }
      select {
        padding: 12px 6px 12px 36px;
      }
    }
    .phone-code {
      height: 52px;
      border-radius: 4px;
    }
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-submit {
  padding: 0 42px;
  height: 52px;
  border-radius: 12px;
  background: var(--main);
  color: var(--white);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.otp-container {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  direction: ltr !important;
  @media (max-width: 576px) {
    gap: 8px;
  }
  .otp-input {
    border-radius: 0 !important;
    flex: 1;
    width: inherit;
    height: 80px !important;
    text-align: center;
    border-bottom: 1px solid var(--main);
    font-size: 28px !important;
    font-weight: 600;
    color: var(--main) !important;
    outline: none;
    &::-webkit-inner-spin-button {
      display: none;
    }
    @media (max-width: 576px) {
      height: 60px !important;
    }
  }
}

.resend-code {
  width: 100%;
  display: flex;
  padding: 10px 0 0;
  justify-content: space-between;
  gap: 8px;
  flex-wrap: wrap;
  .resend_link {
    color: var(--main);
    cursor: pointer;
    &.disabled {
      pointer-events: none;
    }
  }
  .timer {
    gap: 2px;
    display: flex;
    color: var(--gray);
    margin-inline-start: auto;
  }
}
