.logo {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 1rem;

  img {
    height: 32px;
  }

  .logo-text {
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--main-color);

    @media (min-width: 640px) {
      font-size: 1.25rem;
    }
  }
}

.header {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  border-bottom: 1px solid var(--border);
  .nav-links {
    display: flex;
    gap: 3rem;
    flex: 2;
    width: 100%;
    justify-content: center;
    li {
      font-size: 1rem;
      color: var(--text);
      transition: color 0.3s;
      align-items: center;
      display: flex;
      &:hover {
        color: var(--main);
      }
      a {
        font-size: 16px;
        color: var(--text);
        &.active {
          color: var(--main);
        }
      }
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .header-settings {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    .rounded-btn {
      width: 40px;
      height: 40px;
      display: flex;
      background: var(--btn-bg);
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: var(--main);
      border: 0;
      &:active {
        background: var(--btn-bg) !important;
        color: var(--main);
      }
      &.show {
        background: var(--btn-bg) !important;
      }
      &::after {
        display: none !important;
      }
    }

    .user-btn {
      background: var(--white);
      color: var(--main);
      border: 1px solid var(--input-stroke);
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 4px;
      padding-inline-end: 12px;
      border-radius: 32px;
      font-size: 14px;
      font-weight: 500;

      .user-img-wrapper {
        width: 28;
        height: 28;
        border-radius: 50%;
        overflow: hidden;
        img {
          height: 28px;
          width: 28px;
        }
      }
      &:hover,
      &.show {
        color: var(--main);
        background: var(--white);
        border-color: var(--input-stroke);
      }
    }
    .dropdown-item {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px;
      cursor: pointer;
      border-radius: 4px;
      transition: all 150ms ease-in-out;
      font-size: 14px;
      font-weight: 500;

      &:hover {
        background: var(--btn-bg);
      }
      &:active {
        background: var(--btn-bg) !important;
        color: var(--main);
      }
    }
  }

  .header_logo {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 2rem;

    i {
      font-size: 18px;
    }
  }
}

.side-menu {
  position: fixed;
  top: 72.8px;
  right: -100%;
  min-width: 300px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  height: calc(100vh - 72.8px);
  overflow-y: auto;
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  scrollbar-width: 0;
  transition: var(--main-transition);
  &::-webkit-scrollbar {
    display: none;
  }
  &.show {
    right: 0;
  }
  &.en {
    left: -100%;
    right: auto;
    &.show {
      left: 0;
      right: auto;
    }
  }

  .user {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
    }
    .user-info {
      flex: 1;
      gap: 8px;
      h1 {
        font-size: 1rem;
        margin-bottom: 4px;
        font-weight: 600;
      }
      a {
        font-size: 1rem;
        color: var(--text-light);
      }
    }
  }
  h1 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    li {
      a {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1rem;
        color: var(--text);
        transition: color 0.3s;
        &:hover {
          color: var(--main);
        }
        &.active {
          color: var(--main);
        }
      }
    }
  }
  button {
    background: var(--main);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 16px;
    border-radius: 4px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: var(--main-transition);
    &:hover {
      background: var(--main-hover);
    }
    &:active {
      background: var(--btn-bg) !important;
      color: var(--white);
    }
  }
}

.overlay {
  position: fixed;
  top: 72.8px;
  left: 0;
  width: 100%;
  height: calc(100% - 72.8px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  display: none;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;
  opacity: 0;
  transition: var(--main-transition);
  &.show {
    opacity: 1;
    display: flex;
  }
}
