.hero-section {
  padding: 100px 0;
  background: url("/images/header.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;

  h1 {
    font-size: 40px;
    text-align: center;
    color: #fff;
    margin-bottom: 16px;
  }
  p {
    width: min(100%, 700px);
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: #fff;
  }
  .search-box {
    padding: 16px;
  }
}

.search-box {
  width: 100%;
  margin: 1rem 0;
  border-radius: 16px;
  background: var(--white);
  .search-form {
    display: flex;
    gap: 12px;
    .form-submit {
      img {
        filter: brightness(0) invert(1);
      }
    }
    .filter-btn {
      height: 52px;
      min-width: 52px;
      border-radius: 12px;
      border: 1px solid var(--main);
      @include centerFlex();
    }
  }
}
.rent-section {
  padding: 60px 0;
  background: var(--input-bg);

  .section-header {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin: 16px 0;
    h2 {
      font-size: 22px;
      margin-bottom: 8px;
      text-align: start;
    }
    p {
      margin: 0;
      color: var(--gray);
    }
    a {
      transition: var(--main-transition);
      text-decoration: underline;
      &:hover {
        color: var(--main);
      }
    }
  }
}

.why-us-section {
  padding: 2rem 3rem;
  @media (max-width: 576px) {
    padding: 8px;
  }
  .why-us-intro {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    padding: 2rem 3rem;
    border-radius: 16px;
    background-image: linear-gradient(90deg, #00000081, #00000081),
      url(/images/property_slide.png);
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 576px) {
      padding: 16px 20px;
    }
    h2 {
      font-size: 28px;
      color: #fff;
      @media (max-width: 576px) {
        font-size: 20px;
      }
    }
    p {
      font-size: 16px;
      color: #fff;
      line-height: 1.6;
    }
    a {
      padding: 1rem 1.5rem;
      background-color: var(--main);
      color: var(--white);
      border-radius: 8px;
      width: fit-content;
      cursor: pointer;
      transition: var(--main-transition);
      &:hover {
        background-color: var(--main-hover);
      }
    }
  }
  .why-us-features {
    display: flex;
    align-items: center;

    .feature-content {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      gap: 1rem;
      padding: 1rem 1.5rem;
      background-color: #f7f7f7;
      height: 100%;

      .feature-title {
        font-size: 18px;
      }

      img {
        height: 42px;
      }

      .feature-description {
        font-size: 16px;
        color: var(--gray);
      }
    }
  }
}
