.modal {
  .modal-header {
    &.ar {
      .btn-close {
        margin-right: auto;
        margin-left: 0;
      }
    }
  }
}

.filter-modal {
  .modal-filter-body {
    max-height: 70vh;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: none;
  }
  .modal-filter-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    button {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 8px;
      transition: var(--main-transition);
      &.btn-apply {
        background-color: var(--main);
        color: #fff;
        &:hover {
          background-color: var(--main-hover);
        }
      }
      &.btn-cancel {
        border: 1px solid var(--border);
        &:hover {
          background-color: var(--main-hover);
          color: var(--white);
        }
      }
    }
  }
  .filter-field {
    padding: 1.25rem;
    border-bottom: 1px solid var(--input-stroke);
    display: flex;
    align-items: start;
    gap: 0.5rem;
    flex-direction: column;
    &:first-child {
      padding: 0 1.25rem 1.25rem;
    }
    &:last-child {
      border: none;
    }
    .label {
      font-size: 16px;
    }
    .search-field {
      padding: 0.75rem;
      border: 1px solid var(--border);
      outline: none;
      font-size: 14px;
      border-radius: 8px;
      border: 1px solid var(--input-stroke);
      box-shadow: none;
      transition: var(--main-transition);
      width: 100%;
      background-image: url(/images/search.svg);
      background-repeat: no-repeat;
      background-position: right 1rem center;
      &.en {
        background-position: left 1rem center;
      }
      &:focus,
      &:not(:placeholder-shown) {
        border-color: var(--main);
        background-image: none;
      }
    }

    .body {
      display: flex;
      gap: 12px;
      flex-wrap: wrap;
      padding: 1rem;
      border: 1px solid var(--input-stroke);
      border-radius: 8px;
      width: 100%;

      .checkbox-field {
        div {
          padding: 8px 28px;
          cursor: pointer;
          @include centerFlex();
          gap: 4px;
          transition: var(--transition);
          border-radius: 8px;
          color: var(--black);
          border: 1px solid var(--input-stroke);
          background-color: #dff5f1;
        }
        input {
          display: none;
          &:checked + div {
            background: var(--main);
            color: var(--white);
          }
        }
      }

      .counter-field {
        width: 100%;
        @include space-between();
        h6 {
          font-size: 14px;
          color: var(--black);
          span {
            font-size: 14px;
            display: block;
          }
        }
        label {
          display: flex;
          flex-direction: column;
          gap: 8px;
          font-weight: 500;
          justify-content: end;
          .pets-label {
            font-size: 14px;
            color: var(--black);
            margin: 0;
          }
          .pets-input {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 14px;
            color: var(--main);
            margin: 0;
          }
        }

        .counter-input {
          display: flex;
          align-items: center;
          gap: 16px;
          button {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            font-size: 14px;
            @include centerFlex();
            color: var(--main);
            border: 1px solid var(--border);
            background: var(--white);
          }
          input {
            padding: 8px;
            border-radius: 4px;
            width: 50px;
            height: 30px;
            font-size: 14px;
            color: var(--main);
            text-align: center;
          }
        }
      }
    }
  }
}

.calender-container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--input-stroke);
  border-radius: 8px;

  .days_count {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--input-stroke);
    padding-bottom: 8px;
    p {
      font-size: 14px;
      color: var(--gray);
      margin: 0;
    }
    h4 {
      color: var(--main);
    }
  }
}

.charge-modal {
  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
}
