.profile {
  .top-section {
    height: 300px;
    background-color: var(--main);
    position: absolute;
    top: 100px;
    width: 100%;
    z-index: -10;
  }

  .profile-container {
    padding-top: 2rem;
    position: relative;
    .user {
      display: flex;
      align-items: center;
      gap: 1rem;
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
      }
      .info {
        h2 {
          font-size: 2rem;
          color: var(--white);
          margin-bottom: 12px;
        }
        p {
          display: flex;
          align-items: center;
          gap: 8px;
          color: var(--white);
          margin: 0;
        }
      }
    }
    .profile-cards {
      position: absolute;
      top: 300px;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 20px;
      .profile-card {
        padding: 1rem;
        border: 1px solid var(--border);
        border-radius: 8px;
        width: 100%;
        background-color: var(--white);
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 18px;
        h3 {
          font-size: 1.5rem;
          color: var(--main);
          margin: 0;
        }
        img {
          width: 32px;
          height: 32px;
        }
        p {
          color: var(--gray);
          margin: 0;
        }
      }
    }
  }
}
