.wallet {
  .wallet-header {
    font-size: 32px;
    margin-bottom: 8px;
  }
  .balance-card {
    padding: 1rem;
    border: 1px solid var(--border);
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    .balance {
      display: flex;
      align-items: center;
      gap: 6px;
      p {
        font-size: 28px;
        margin: 0;
        font-weight: 600;
        span {
          font-size: 16px;
          color: var(--main);
        }
      }
    }
  }

  .transactions-table {
    h3 {
      font-size: 22px;
      margin-bottom: 16px;
    }
    .transactions-container {
      width: 100%;
      overflow-x: auto;
    }

    .transactions-table {
      width: 100%;
      border-collapse: collapse;
      text-align: right;
      &.en {
        text-align: left;
      }

      th,
      td {
        border: 1px solid #ddd;
        padding: 12px 16px;
      }

      th {
        background-color: #f8f8f8;
        font-weight: bold;
      }

      td {
        background-color: #fff;
      }

      .transaction-type {
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 500;
      }

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 6px;

        &.deposit {
          background-color: #e6f4ea;
          color: #0f9d58;
        }

        &.withdraw {
          background-color: #fde8e8;
          color: #d93025;
        }
      }

      .transaction-amount {
        color: var(--main);
        font-weight: 500;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 12px;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
          width: 33px;
        }
      }
    }
  }
}
.main-btn {
  background-color: var(--main);
  color: var(--white);
  padding: 12px 16px;
  width: 100%;
  border-radius: 12px;
}
