@import "./config";
@import "./fonts";
@import "./header";
@import "./footer";
@import "./forms";
@import "./auth";
@import "./cards";

body {
  direction: rtl;
  background-color: var(--white);
  font-family: "DIN Next LT W23", sans-serif;
  main {
    min-height: calc(100vh - 100px);
  }

  @import "./home";
  @import "./modals";
  @import "./forRent";
  @import "./book";
  @import "./wallet";
  @import "./notifications";
  @import "./chat";
  @import "./profile";

  &.en {
    direction: ltr;
    font-family: "Outfit", sans-serif;
    .form-field {
      input,
      select,
      textarea {
        direction: ltr;
      }
    }
  }
}
