@import "./config";
@import "./fonts";
@import "./errors";
@import "./header";
@import "./footer";
@import "./forms";
@import "./auth";
@import "./cards";

body {
  direction: rtl;
  background-color: var(--white);
  font-family: "Zain", sans-serif;
  main {
    min-height: calc(100vh - 72.8px);
  }

  @import "./home";
  @import "./modals";
  @import "./forRent";
  @import "./book";
  @import "./wallet";
  @import "./notifications";
  @import "./chat";
  @import "./profile";
  @import "./contact";
  @import "./about";
  @import "./blogs";

  &.en {
    direction: ltr;
    font-family: "Poppins", sans-serif;
    .form-field {
      input,
      select,
      textarea {
        direction: ltr;
      }
    }
    .properties .fav-btn {
      right: 12px;
      left: initial;
    }
  }
}
