@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --main: #468077;
  --btn-bg: #f7f7f7;
  --border: #dcdcdc;
  --white: #fff;
  --main-transition: all 300ms ease-in-out;
  --input-stroke: #f2f2f2;
  --text: #000;
}

button,
input,
select,
textarea {
  border: none;
  background: none;
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  padding: unset;
}

a,
button {
  text-decoration: none;
  transition: var(--transition);
  color: #000;
}

.logo {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.logo .logo-text {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--main-color);
}
@media (min-width: 640px) {
  .logo .logo-text {
    font-size: 1.25rem;
  }
}

.header {
  min-height: 100px;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: 1px solid var(--border);
}
.header .nav-links {
  display: flex;
  gap: 1rem;
}
.header .nav-links li {
  font-size: 1rem;
  color: var(--text);
  transition: color 0.3s;
}
.header .nav-links li:hover {
  color: var(--main);
}
.header .nav-links li a {
  font-size: 16px;
  color: var(--text);
}
.header .nav-links li a.active {
  color: var(--main);
}
.header .header-settings {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.header .header-settings .rounded-btn {
  width: 40px;
  height: 40px;
  display: flex;
  background: var(--btn-bg);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--main);
  border: 0;
}
.header .header-settings .rounded-btn:active {
  background: var(--btn-bg) !important;
  color: var(--main);
}
.header .header-settings .rounded-btn.show {
  background: var(--btn-bg) !important;
}
.header .header-settings .rounded-btn::after {
  display: none !important;
}
.header .header-settings .user-btn {
  background: var(--white);
  color: var(--main);
  border: 1px solid var(--input-stroke);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px;
  padding-inline-end: 12px;
  border-radius: 32px;
  font-size: 14px;
  font-weight: 500;
}
.header .header-settings .user-btn img {
  height: 28px;
}
.header .header-settings .user-btn:hover, .header .header-settings .user-btn.show {
  color: var(--main);
  background: var(--white);
  border-color: var(--input-stroke);
}
.header .header-settings .dropdown-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 150ms ease-in-out;
  font-size: 14px;
  font-weight: 500;
}
.header .header-settings .dropdown-item:hover {
  background: var(--btn-bg);
}
.header .header-settings .dropdown-item:active {
  background: var(--btn-bg) !important;
  color: var(--main);
}

body {
  direction: rtl;
  background-color: var(--white);
}
body main {
  min-height: calc(100vh - 100px);
}
body.en {
  direction: ltr;
  font-family: "Outfit", sans-serif;
}
body.en .form_field input,
body.en .form_field select,
body.en .form_field textarea {
  direction: ltr;
}/*# sourceMappingURL=main.css.map */